[Unit]
Description=Manage restic rest-server

[Service]
WorkingDirectory=/home/sun/Development/local/restic
ExecStart=/bin/bash -c 'timeout 1800 docker compose up || exit 0'

[Install]
WantedBy=multi-user.target
