! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

! Fonts
URxvt.font: xft:SauceCodePro\ Nerd\ Font:style=Regular:pixelsize=11
!URxvt.letterSpace: -1

! Colors
URxvt.background: #263238
URxvt.foreground: #cfd8dc
! Black + DarkGrey
URxvt*color0: #212121
URxvt*color8: #455a64
! DarkRed + Red
URxvt*color1: #b71c1c
URxvt*color9: #f44336
! DarkGreen + Green
URxvt*color2: #2e7d32
URxvt*color10: #4caf50
! DarkYellow + Yellow
URxvt*color3: #f57f17
URxvt*color11: #ffeb3b
! DarkBlue + Blue
URxvt*color4: #0d47a1
URxvt*color12: #42a5f5
! DarkMagenta + Magenta
URxvt*color5: #aa00ff
URxvt*color13: #f06292
! DarkCyan + Cyan (both not tango)
URxvt*color6: #006064
URxvt*color14: #00bcd4
! LightGrey + White
URxvt*color7: #b0bec5
URxvt*color15: #fafafa

! Others
URxvt.scrollBar: False
URxvt.fading: 5
URxvt.fadeColor: 7
URxvt.cursorColor: 7
URxvt.cursorColor2: 8
URxvt.colorIT: 10
URxvt.colorBD: 15
URxvt.colorUL: 12
URxvt.internalBorder: 0
URxvt.externalBorder: 0
!URxvt.lineSpace: 1
URxvt.visualBell: True
URxvt.cursorBlink: True
URxvt.cursorUnderline: True
URxvt.pointerBlank: True
URxvt.pointerBlankDelay: 5

! Plugins
URxvt.perl-ext-common: tabbed,fullscreen,resize-font

URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 8

URxvt.keysym.F11: perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #b0bec5, #b0bec5, #212121
rofi.color-normal: #b0bec5, #212121, #b0bec5, #f57f17, #212121
rofi.color-active: #455a64, #fafafa, #455a64, #42a5f5, #fafafa
rofi.color-urgent: #fafafa, #f44336, #fafafa, #f44336, #fafafa

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
