"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: false
    ui: {}
  "atom-terminal":
    app: "/usr/bin/urxvt"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode-plus"
      "terminal-plus"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Inconsolata-g"
    fontSize: 10
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4d56d261-15ad-6e7a-da88-15cc222fa36b"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "c06216f1-4f1b-4c00-b6dd-cf0399c819d8"
  "hit-stats": {}
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-ui-default":
    panelHeight: 98
    showPanel: true
  "one-dark-ui":
    fontSize: 12
  "one-light-ui":
    fontSize: 12
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style:
      theme: "pro"
  "tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
