"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Iosevka Light"
    fontSize: 12
    preferredLineLength: 88
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4ff3bdfb-77c7-41f8-9575-e0a385fccd65"
  "file-icons":
    onChanges: true
  "ide-flowtype":
    tryFlowBin: true
  "ide-python":
    pylsPlugins:
      pycodestyle:
        maxLineLength: 88
    python: "/usr/bin/python"
  "linter-ui-default":
    panelHeight: 238
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#3b4252"
        blue: "#81a1c1"
        cyan: "#88c0d0"
        green: "#a3be8c"
        magenta: "#b48ead"
        red: "#bf616a"
        white: "#e5e9f0"
        yellow: "#ebcb8b"
      zBright:
        brightBlack: "#4c566a"
        brightBlue: "#81a1c1"
        brightCyan: "#8fbcbb"
        brightGreen: "#a3be8c"
        brightMagenta: "#b48ead"
        brightRed: "#bf616a"
        brightWhite: "#eceff4"
        brightYellow: "#ebcb8b"
    iconColors:
      blue: "#81a1c1"
      cyan: "#88c0d0"
      green: "#a3be8c"
      magenta: "#b48ead"
      orange: "#ebcb8b"
      pink: "#bf616a"
      purple: "#b48ead"
      red: "#bf616a"
      yellow: "#ebcb8b"
    style:
      fontFamily: "Iosevka Term Light"
      fontSize: "12"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
  "python-black":
    binPath: "/home/sun/.local/bin/black"
    showErrors: "flash"
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
