'.source.js.jsx':
  'import ...':
    'prefix': 'im'
    'body': 'import ${1} from \'${2:./${1}}\';${0}'
  'import { ... }':
    'prefix': 'imn'
    'body': 'import { ${1} } from \'${2:./${1}}\';${0}'
  'export ...':
    'prefix': 'ex'
    'body': 'export default ${1};${0}'
  'propTypes ...':
    'prefix': 'rpt'
    'body': """
      ${1}.propTypes = {
        ${2}: ${3},
      };${0}
    """
  'propTypes bool':
    'prefix': 'rpb'
    'body': 'PropTypes.bool'
  'propTypes number':
    'prefix': 'rpn'
    'body': 'PropTypes.number'
  'propTypes string':
    'prefix': 'rps'
    'body': 'PropTypes.string'
  'propTypes func':
    'prefix': 'rpf'
    'body': 'PropTypes.func'
  'propTypes shape':
    'prefix': 'rpo'
    'body': 'PropTypes.shape({${0}})'
  'propTypes arrayOf':
    'prefix': 'rpa'
    'body': 'PropTypes.arrayOf(${0})'
  'functional component':
    'prefix': 'rcf'
    'body': """
      const ${1} = (${2}) => (
        <div>${3}</div>
      );${0}
    """
  'class component':
    'prefix': 'rcc'
    'body': """
      class ${1} extends React.Component {
        render() {
          return (
            <div>${3}</div>
          );
        }
      }${0}
    """
  'describe':
    'prefix': 'desc'
    'body': """
      describe('${1}', function (${2}) {
        ${3}
      });
    """
  'it':
    'prefix': 'it'
    'body': """
      it('${1}', function (${2}) {
        ${3}
      });
    """
  'beforeEach':
    'prefix': 'bfe'
    'body': """
      beforeEach(function (${1}) {
        ${2}
      });${0}
    """
  'afterEach':
    'prefix': 'afe'
    'body': """
      afterEach(function (${1}) {
        ${2}
      });${0}
    """
